```env
PORT=4000

MONGO_URI=mongodb://<username>:<password>@<cluster-host>/<database>?<options>

EMAIL_USER=<your-email>
EMAIL_PASS=<your-email-app-password>

REDIS_HOST=<your-redis-host>
REDIS_PORT=<your-redis-port>
REDIS_USERNAME=default
REDIS_PASSWORD=<your-redis-password>
REDIS_TLS=true
REDIS_EXPIRY=120

JWT_SECRET=<your-jwt-secret>
JWT_EXPIRY=10m
COOKIE_EXPIRY=86400000

CLOUDINARY_CLOUD_NAME=<your-cloudinary-cloud-name>
CLOUDINARY_API_KEY=<your-cloudinary-api-key>
CLOUDINARY_API_SECRET=<your-cloudinary-api-secret>

REFRESH_TOKEN_SECRET=<your-refresh-token-secret>
REFRESH_TOKEN_EXPIRY=5h

NODE_ENV=development

STRIPE_PUBLISHABLE_KEY=<your-stripe-publishable-key>
STRIPE_SECRET_KEY=<your-stripe-secret-key>
STRIPE_CLI_ACCOUNT_ID=<your-stripe-account-id>
STRIPE_WEBHOOK_SECRET=<your-stripe-webhook-secret>

FRONT_END_URL=http://localhost:3000

SUPABASE_URL=<your-supabase-url>
SUPABASE_SERVICE_KEY=<your-supabase-service-key>

PLATFORM_COMMISSION=20
```
